# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2017 Harald Sitter <sitter@kde.org>
/.vagrant
/build
/integrationtests/build

# Random vagrant littering
/ubuntu-xenial-16.04-cloudimg-console.log
# QtCreator litter
CMakeLists.txt.user
