# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Application
Icon=tools-report-bug
NoDisplay=true
Exec=drkonqi-pk-debug-installer
Categories=Qt;KDE;System;Debugger;

Name=DrKonqi Debug Symbol Installer
Name[ar]=مثبت حزم رموز التنقيح لد.كوينكي
Name[ca]=Instal·lador dels símbols de depuració del DrKonqi
Name[ca@valencia]=Instal·lador dels símbols de depuració de DrKonqi
Name[cs]=Instalátor ladicích symbolů DrKonqi
Name[de]=Debug-Symbol-Installation mit DrKonqi
Name[el]=Πρόγραμμα εγκατάστασης συμβόλων αποσφαλμάτωσης για το DrKonqi
Name[en_GB]=DrKonqi Debug Symbol Installer
Name[eo]=DrKonqi Instalilo por Sencimigaj Simboloj
Name[es]=Instalador de símbolos de depuración de DrKonqi
Name[eu]=DrKonqi arazteko ikurren instalatzailea
Name[fi]=DrKonqin virheenpaikannussymbolien asennus
Name[fr]=Installateur des symboles pour le débogage de DrKonqi
Name[gl]=Instalador de símbolos de depuración de DrKonqi
Name[he]=מתקין סמלי ניפוי שגיאות של DrKonqi
Name[hi]=डॉक्टर-कोंकी डीबग संकेत संस्थापक
Name[it]=Installatore dei simboli di debug per DrKonqi
Name[ka]=DrKonqi-ის გასამართი სიმბოლოების დამყენებელი
Name[ko]=DrKonqi 디버그 기호 설치 도구
Name[nl]=Installatieprogramma van debugsymbolen van DrKonqi
Name[nn]=Installering av feilsøkingssymbol for DrKonqi
Name[pl]=Wgrywanie symboli diagnostycznych DrKonqi
Name[pt]=Instalador de Símbolos de Depuração do DrKonqi
Name[pt_BR]=Instalador de símbolos de depuração do DrKonqi
Name[ro]=Instalator simboluri de depanare DrKonqi
Name[sk]=Inštalátor ladiacich symbolov DrKonqi
Name[sl]=DrKonqi Debug Symbol Installer
Name[sv]=DrKonqi installationsverktyg för avlusningssymboler
Name[tr]=Dr. Konqi Hata Ayıklama Sembolleri Kurucusu
Name[uk]=Засіб встановлення діагностичних символів DrKonqi
Name[zh_CN]=DrKonqi 调试符号包安装程序
Name[zh_TW]=DrKonqi 除錯符號安裝器
GenericName=Debug Symbol Installer
GenericName[ar]=مثبت حزم رموز التنقيح
GenericName[ca]=Instal·lador dels símbols de depuració
GenericName[ca@valencia]=Instal·lador dels símbols de depuració
GenericName[cs]=Instalátor ladicích symbolů
GenericName[de]=Debug-Symbol-Installation
GenericName[el]=Πρόγραμμα εγκατάστασης συμβόλων αποσφαλμάτωσης
GenericName[en_GB]=Debug Symbol Installer
GenericName[eo]=Sencimigsimbola Instalilo
GenericName[es]=Instalador de símbolos de depuración
GenericName[eu]=Arazteko ikurren instalatzailea
GenericName[fi]=Virheenpaikannussymbolien asennus
GenericName[fr]=Installateur des symboles pour le débogage
GenericName[gl]=Instalador de símbolos de depuración
GenericName[he]=מתקין סמלי ניפוי שגיאות
GenericName[hi]=डीबग संकेत संस्थापक
GenericName[it]=Installatore dei simboli di debug
GenericName[ka]=გასამართი სიმბოლოების დამყენებელი
GenericName[ko]=디버그 기호 설치 도구
GenericName[nl]=Installatieprogramma van debugsymbolen
GenericName[nn]=Installering av feilsøkingssymbol
GenericName[pl]=Wgrywanie symboli diagnostycznych
GenericName[pt]=Instalador de Símbolos de Depuração
GenericName[pt_BR]=Instalador de símbolos de depuração
GenericName[ro]=Instalator simboluri de depanare
GenericName[sk]=Inštalátor ladiacich symbolov
GenericName[sl]=DrKonqi Debug Symbol Installer
GenericName[sv]=Installationsverktyg för avlusningssymboler
GenericName[tr]=Hata Ayıklama Sembolleri Kurucusu
GenericName[uk]=Засіб встановлення діагностичних символів
GenericName[zh_CN]=调试符号包安装程序
GenericName[zh_TW]=除錯符號安裝器
Comment=Automatically resolves and installs missing debug symbols
Comment[ar]=يبحث ويثبت حزم التنقيح اللازمة آليّاً
Comment[ca]=Resol i instal·la automàticament els símbols de depuració que manquen
Comment[ca@valencia]=Resol i instal·la automàticament els símbols de depuració que falten
Comment[cs]=Automaticky zjišťuje a instaluje chybějící ladicí symboly
Comment[de]=Findet automatisch fehlende Debug-Sybole und installiert sie
Comment[el]=Επιλύει και εγκαθιστά αυτόματα σύμβολα αποσφαλμάτωσης που λείπουν
Comment[en_GB]=Automatically resolves and installs missing debug symbols
Comment[eo]=Aŭtomate solvas kaj instalas mankantajn sencimigsimbolojn
Comment[es]=Resuelve e instala automáticamente los símbolos de depuración que faltan
Comment[eu]=Falta diren arazteko ikurrak automatikoki ebatzi eta instalatzen ditu
Comment[fi]=Ratkaisee ja asentaa puuttuvat virheenpaikannussymbolit automaattisesti
Comment[fr]=Résout et installe automatiquement les symboles manquants de débogage
Comment[gl]=Resolve e instala automaticamente os símbolos de depuración que faltan.
Comment[he]=פותר ומתקין סמלי ניפוי שגיאות חסרים אוטומטית
Comment[hi]=लापता डिबग संकेत को स्वचालित रूप से हल और स्थापित करता है
Comment[it]=Risolve e installa automaticamente i simboli di debug mancanti
Comment[ka]=ავტომატურად ამოხსნის და დააყენებს ნაკლულ გასამართ სიმბოლოებს
Comment[ko]=빠진 디버그 기호를 자동으로 찾아서 설치
Comment[nl]=Los autorisatie ontbrekende debugsymbolen op en installeer ze
Comment[nn]=Finn og installer automatisk feilsøkingssymbol
Comment[pl]=Sam szuka i wgrywa brakujące symbole diagnostyczne
Comment[pt]=Resolve e instala automaticamente os símbolos de depuração em falta.
Comment[pt_BR]=Resolve e instala automaticamente os símbolos de depuração faltantes
Comment[ro]=Rezolvă și instalează automat simboluri de depanare ce lipsesc
Comment[sk]=Automaticky vyrieši a nainštaluje chýbajúce ladiace symboly
Comment[sl]=Samodejno razrešuje in namešča manjkajoče simbole za odkrivanje napak
Comment[sv]=Löser automatiskt upp och installerar saknade avlusningssymboler
Comment[tr]=Eksik hata ayıklama sembollerini kendiliğinden kurar ve çözer
Comment[uk]=Автоматично визначає і встановлює потрібні діагностичні символи
Comment[zh_CN]=自动解析并安装缺少的调试符号的程序
Comment[zh_TW]=自動解析並安裝缺乏的除錯符號
